// * Кнопки
.btn {
	background-color: var(--color-accent);
	color: var(--color-white);
	transition: 200ms ease;
	padding: 6px 30px;
	border-radius: 3px;
	border: 1px solid var(--color-accent);
	text-align: center;
	height: 40px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	line-height: 1;
	box-sizing: border-box;

	&:hover {
		background-color: var(--color-white);
		color: var(--color-accent);
	}

	&:active {
		transform: scale(0.98);
	}

	&--border {
		border-color: #cfcfcf;
		background-color: var(--color-white);
		color: var(--color-black);
		border-color: var(--color-accent);

		&:hover {
			background-color: var(--color-accent);
			color: var(--color-white);
		}
	}
}
