.checkbox {
	position: relative;
	width: 100%;
	height: 100%;
	cursor: pointer;
	display: flex;
	align-items: center;

	&__box {
		display: inline-block;
		width: 25px;
		height: 25px;
		background-color: rgba(255, 255, 255, 0.1);
		position: relative;
		margin-right: 13px;
	}

	&__input {
		position: absolute;
		clip: rect(0 0 0 0);
		width: 1px;
		height: 1px;
		margin: -1px;
	}

	&__text {
		display: flex;
		align-items: center;
		gap: 5px;
		color: #9da4a9;
		font-size: 13px;
		line-height: 1;

		@include breakpointsMaxW($bp-576) {
			flex-direction: column;
			align-items: flex-start;
		}

		a {
			color: var(--color-accent);
		}
	}
}

.custom-checkbox {
	position: relative;
	cursor: pointer;
	display: inline-flex;
	align-items: center;

	&__input {
		position: absolute;
		clip: rect(0 0 0 0);
		width: 1px;
		height: 1px;
		margin: -1px;
	}

	&__box {
		display: inline-block;
		width: 18px;
		height: 18px;
		background-color: var(--color-white);
		position: relative;
		border-radius: 50%;
		margin-right: 10px;
		border: 1px solid #cfcfcf;
		flex-shrink: 0;

		&::after {
			position: absolute;
			content: '';
			width: 50%;
			height: 50%;
			background-color: transparent;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			border-radius: 50%;
		}
	}

	.custom-checkbox__input:checked ~ .custom-checkbox__box::after {
		background-color: var(--color-accent);
	}

	&__text {
		color: var(--color-black);
		line-height: 1;
	}

	&--square {
		.custom-checkbox {
			&__box {
				border-radius: 0;

				&::after {
					border-radius: 0;
				}
			}

			&__text {
				color: #8c8c8c;

				br {
					display: none;

					@include breakpointsMaxW($bp-576) {
						display: block;
					}
				}

				a {
					color: var(--color-black);

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
}
